{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="center">Annonces à valider</h5>

            <table class="striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Voir</th>
                </tr>
                </thead>
                {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.created_at }}</td>
                    <td>{{ annonce.prix }}</td>
                    <td><a href="{{ urlFor('indexAction', {'action':'annonceId', 'id': annonce.id}) }}" class="waves-effect waves-light btn red">Voir</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}