{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="center">Annonces N° {{ annonce.id }}</h5>

            <div class="row">
                <div class="col s9 offset-s1">
                    <h5 class="light">{{ annonce.titre }}</h5>
                    <hr>
                    <p>Mise en ligne le : {{ annonce.created_at }}</p>
                    <p>Prix : {{ annonce.prix}}</p>
                    <p>Ville :{{ annonce.ville}}</p>
                    <p>Code Postal :{{ annonce.code_postal}}</p>
                    <p>Descriptif : {{ annonce.descriptif}}</p>
                </div>
                <div class="col s2">
                    <p>Vendu par : {{ annonce.prenom_a }} {{ annonce.nom_a }}</p>
                    <p>Tel : {{ annonce.tel_a }}</p>
                    <p>Mail : {{ annonce.mail_a }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-s1">
                    <a href="{{ urlFor('indexAction', {'action':'delete', 'id' : annonce.id}) }}" id="decline_annonce" name="{{ annonce.id }}" class="waves-effect waves-light btn red"><i class="material-icons left">close</i>Décliner</a>
                </div>
                <div class="col offset-s2">
                    <a href="{{ urlFor('indexAction', {'action':'accept', 'id' : annonce.id}) }}" id="validate_annonce" name="{{ annonce.id }}" class="waves-effect waves-light btn"><i class="material-icons left">done</i>Accepter</a>
                </div>
                <div class="col offset-s2">
                    <a href="{{ urlFor('indexAction', {'action': admin}) }}" id="validate_annonce" class="waves-effect waves-light btn">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}