{% block header %}
    <div class="row">
        <h4 class="center">Racoin back-office connection</h4>
    </div>
    <div class="row">
        <div class="center">
            <a class="btn" href={{ urlFor('indexAction', {'action' : 'deconnection'}) }}>Déconnexion</a>
        </div>
    </div>
{% endblock %}