<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Racoin</title>
    <link rel="stylesheet" href="./content/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        {% include "header.html.twig" %}
    </header>
    <br/>
    <br/>
    <br/>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    <script src="./content/jquery-2.2.0.min.js"></script>
    <script src="./content/materialize/js/materialize.min.js"></script>
    <script src="./content/js.js"></script>
</body>
</html>